* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

/* block 1 */
.block1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
}

.arrow-keys {
  width: 214px;
  height: 155px;
  position: relative;
}

.keys {
  position: absolute;
  width: 70px;
  height: 65px;
  border: 2px solid black;
  display: flex;
}
.keys img {
  width: 30px;
  height: 30px;
  margin: auto;
}
.up {
  top: 6px;
  left: 70px;
}
.down {
  top: 75px;
  left: 70px;
}
.left {
  top: 75px;
  left: -4px;
}
.right {
  top: 75px;
  left: 144px;
}

.click {
  background-color: rgb(255, 0, 51) !important;
  border: none;
}

/* block 2 */
.block2 {
  background-color: rgb(15, 107, 160);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block2 .box {
  width: 30vw;
  height: 200px;
  border: 2px solid black;
}
.section3 {
  background-color: rgb(57, 194, 148);
}

.section3 .item {
  width: 70px;
  height: 70px;
  background-color: aqua;
}
.block4 {
  background-color: rgb(38, 38, 38);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#box1,
#box2 {
  width: 150px;
  height: 150px;
  border: 2px solid white;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box1 > img,
#box2 > img {
  width: 100px;
  height: 100px;
}
